* {
  color: black;
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  height: auto;
}
header {
  background-color: #1abc9c;
  height: 70px;
}

h2 {
  margin-bottom: 50px;
  font-family: 'Inter';
  font-size: 35px;
  line-height: 42px;
}
ul {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}
header > .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.navigation_item {
    font-size: 25px;
line-height: 1.2;
}
.social_icon:not(:last-child),
.navigation_item:not(:last-child) {
  margin-right: 20px;
}
.about{
  display: flex;
}
.container_about{
    padding: 0;
  display: flex;
}
.about_img {
  width: 50%;
}
.about_item {
  margin-bottom: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_description {
  text-align: justify;
    margin-left: 9%;
    margin-right: 9%;
}
.container_projects {
  padding-top: 124px;
  padding-bottom: 124px;
  background-color: #dcffeb;
}
.projects_list {
  justify-content: space-between;
}

.projects_img:not(:last-child) {
margin-right: 2.6%;
}
.container_footer {
  padding-top: 84px;
  padding-bottom: 76px;
}
.contacts_list {
  justify-content: space-between
}
.contacts_item:not(:last-child) {
  margin-right: calc(37/1374*100%);
}
.contacts_img {
  margin-bottom: 36px;
}
.contacts_description {
  margin-bottom: 36px;
  font-family: 'Oswald';
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #999999;
}
.contacts_item {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.contacts_description {
  color: #999999;
}
.contacts_block {
  display: flex;
  flex-direction: column;
}