html {
  box-sizing: border-box;
  color: black;
  font-family: 'Inter', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  background-color: #1abc9c;
}

h2 {
  margin-bottom: 50px;
  font-family: 'Inter';
  font-size: 35px;
  line-height: 42px;
}
ul {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 5%;
  padding-right: 5%;
}

header > .container {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.navigation_item {
  font-size: 25px;
  line-height: 1.2;
}
.navigation_item:hover, .navigation_item:focus {
  color: white;
}
.social_icon:hover, .social_icon:hover {
  background-color:#000000;
}
.social_icon:not(:last-child),
.navigation_item:not(:last-child) {
  margin-right: 20px;
}
.about {
  display: flex;
}
.container_about {
  padding: 0;
  display: flex;
}
.about_img {
  width: 50%;
}
.about_item {
  padding: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_title {
  text-align: justify;
  margin-left: 9%;
  margin-right: 9%;
}
.container_projects {
  padding-top: 124px;
  padding-bottom: 124px;
  background-color: #dcffeb;
}
.projects_list {
  justify-content: space-between;
}
.projects_item {
 
  display: flex;
  padding: 25px;
  background-image: url("../images/project__arena.jpg");
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      background-color: #cccccc;
    width: 31.6%;
    height: 376px;

}
.projects_item:not(:last-child) {
  margin-right: 2.6%;
}
.box {

    flex-direction: column;
    justify-content: flex-end;
    display: flex;

    opacity: 0;
    color: white;
}
.box:hover, .box:focus {
  opacity: 1;
  }
.projects_mini-title {
font-weight: 500;
font-size: 24px;
line-height: 36px;
    font-family: 'Oswald';
    font-style: normal;

}
.projects_mini-description {
font-weight: 400;
font-size: 16px;
line-height: 22px;
font-family: 'Open Sans';
font-style: normal;
}
.container_footer {
  padding-top: 84px;
  padding-bottom: 76px;
}
.contacts_list {
  align-items: baseline;
  justify-content: space-between;
}
.contacts_item:not(:last-child) {
  margin-right: calc(37 / 1374 * 100%);
}
.contacts_img {
  margin: auto;
  margin-bottom: 36px;
}

.contacts_description {
  margin-bottom: 36px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #999999;
}
.contacts_date {
  display: block;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.contacts_block {
  display: flex;
  flex-direction: column;
}
.contacts_date:hover,
.contacts_date:focus {
  color: #f7654a;
}
