* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
body{
    padding: 30px;
}
h1, p {
    margin-bottom: 20px;
}
.button-container {
    position: relative;
}
button{
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
}

.list{ 
    position: absolute;
    z-index: 1;
    /* left: -200px; */
    display: none;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    width: 120px;
}
.button-container:hover > .list,  .button-container:focus > .list {
    /* left: 0px; */
    display: block;
}

.list_item{
    padding: 10px;
}
.list_item:hover, .list_item:focus {
    background-color: lightgrey;
}
