a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
section {
    padding: 30px;
}

  img {
    width: 100%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
li {
    margin: 15px;
    width: 30%;
}

h2 {
    margin: 15px 0;
}
p {
    margin-bottom: 15px;
}
button {
  border: none;
   padding: 15px 35px; 
   width: 100%;
   background-color: gray;
   color: white;
}
button:hover {
background-color: white;
color: black;
}
.card {
  border: 2px;
  border-style: solid;
  border-color: grey;
  box-shadow: 5px 5px 5px gray;
}
.item {
    padding: 35px;
}